@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #f0f0f0;
  color: #444;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: #f0e9e9;
}

strong {
  color: #000;
}

.nav-link {
  text-transform: uppercase;
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #0d6efd;
}

/* Hero section */
.hero-section {
  height: 100vh;
  background-image: url("../public/background-home.jpg"); /* à remplacer si nécessaire */
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.service-box:hover .service-icon {
  color: #cde1f8;
  transition: color 0.3s;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card-title {
  font-weight: bold;
}

.btn-article {
  font-size: 0.9rem;
  padding: 6px 12px;
}
